body {
    font-family:serif;
    background-color: firebrick;
}

header {
    background-color: white;
    position:absolute;
    width:99%;
    
}

.maincontent {
    height: auto;
    width: auto;
  
}

nav {
    margin-top: 100px;
    width: 20%;
    height:65%;
    line-height: 1.7em;
    float:left;
}

a{
    color: #ffd200;
    font-weight: bold;
    font-size-adjust:auto;
    list-style-position: outside;
    margin-left: 30px;   
}

ul{
    list-style-image: url(images/arrow_ID.gif);
}

#instruction {
    display:inline-block;
    position: absolute;
    left:30%;
    background-color: bisque;
    margin-top:110px;
    margin-bottom: 100px;
    margin-right: 50px;
    height: 300px;
    width: 60%;
    padding-top:20px;
    padding-left:50px;
    padding-bottom: 75px;
    float:right;
    font-size: 20px;
    font-weight: bold;
 
}

h3 {
    color: firebrick;
    font-weight: bolder;
}

#form {
    position: absolute;
    top: 230px;
    right: 30px;
    display: inline-block;
    background-color: antiquewhite;
    height: 250px;
    width: 800px;
    float:right;
    border: none;
    margin-right: 100px;
    margin-bottom: 100px;
    z-index: 6;
}

fieldset {
    display: inline-block;
    border: none;
    width: 75%;
    margin-right:30px; 
    padding-left: 120px;
}
legend {
    font-weight: bold;
    font-size: 110%;
    color: firebrick;
}

label {
    display: inline-block;
    text-align:left;
    width: 40px;
    padding-top:5px;
    padding-bottom: 5px;
    padding-right: 100px; 
    font-weight: bold;
}

textarea {
    vertical-align: top;
}



.redText {
    color:#E21833;
}

.submit {
    margin-left:25%;
}

#chart {
    display:inline-block;
    position: absolute;
    left:30%;
    background-color: bisque;
    margin-top:110px;
    margin-bottom: 100px;
    height: 300px;
    width: 66%;
    padding-top:20px;
    padding-left:50px;
    padding-bottom: 75px;
    float:right;
    font-size: 20px;
    font-weight: bold;
}

footer {
    background-color:bisque;
    text-align:center;
    clear:both;
    width: 100%;
    margin-top:10px;
    padding:3px;    
}